@import url(bootstrap.css);

body {
  font-size: 16pt;
  background: #ebfffe;
  padding-top: 20px;
}
.container {
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.header {
  background-color: #005c57;
  margin-bottom: 20px;
}
.heading a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36pt;
  color: #fff;
}
h4 {
  font-size: 24pt;
}

.error {
  font-size: 12pt;
  color: red;
}
ul li {
  list-style-type: none;
}

.delete {
  margin-left: 65px;
  color: #e1e1e1;
}
.delete a {
  text-decoration: none;
  color: gray;
}

.btn-default {
  background-color: #00BFB4;
  color: white;
}
.new a {
  text-decoration: none;
  color: blue;
}
form.form-signup {
  width: 600px;
  margin: 0 auto;
}
.form-signup input {
  width: 60%;
  margin-top: 10px;
}
.form-signup input.btn.btn-large.btn-primary.btn-block {
  width: 20%;
}
.list-inline {
  font-size: 10pt;
}
.welcome {
  font-size: 10pt;
  color: white;
  text-align: right;
}