@import url(bootstrap.css);

body {
  font-size: 16pt;
  background: #ebfffe;
}
.container {
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.header {
  background-color: #005c57;
}

h1 {
  font-size: 36pt;
  color: #fff;
}
h4 {
  font-size: 24pt;
}

.error {
  font-size: 12pt;
  color: red;
}
ul li {
  list-style-type: none;
}

.delete {
  margin-left: 65px;
}

.btn-default {
  background-color: #00BFB4;
  color: white;
}